* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.wrapper .header {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background-color: #faf7f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .header h1 {
  color: #1f2525;
}

#app {
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 20px;
  background-color: #faf7f0;
}

.hero {
  min-height: 550px;
  background-image: url(../images/https___d1o785do8fyxgx.cloudfront.net_user_photos_images_000_577_327_original_0322_March_HPG_Notecards_HiRes.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-hero {
  min-height: 550px;
  background-image: url(../images/about-header.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background-color: #faf7f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  color: #1f2525;
  text-align: center;
  text-decoration: none;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background-color: #1f2525;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.content {
  padding: 50px;
}
.content .products {
  width: 900px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content .products .product {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.content .products .product .prod-image1 {
  background-image: url(../images/wedding-image.avif);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content .products .product .prod-image2 {
  margin-right: 50px;
  background-image: url(../images/Papier_Thankyounote_01-1.webp);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content .products .product .prod-desc {
  margin-top: 250px;
  width: 500px;
  text-align: left;
}
.content .products .product .prod-desc h4 {
  font-size: 30px;
}

.about-header-text {
  text-align: center;
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
}
.about-header-text p {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.about {
  padding: 50px;
}
.about .products {
  width: 900px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about .products .product {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.about .products .product .prod-image1 {
  background-image: url(../images/about1.avif);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 50px;
}
.about .products .product .prod-image2 {
  background-image: url(../images/about2.avif);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .products .product .prod-desc {
  margin-top: 250px;
  width: 500px;
  text-align: left;
  color: #1f2525;
}
.about .products .product .prod-desc h4 {
  font-size: 30px;
}
.about .about-end {
  margin: 0 auto;
  background-image: url(../images/Papier_CS_Trio_42.webp);
  min-height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product {
  display: flex;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.product .prod-image1 {
  background-image: url(../images/red-journal-big.avif);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product .prod-desc {
  margin: 0 auto;
  text-align: center;
}
.product .prod-desc .small-image {
  background-color: #ebe7d8;
  margin: 0 auto;
  background-image: url(/images/red-journal-small.avif);
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product .prod-desc .bloom-price {
  min-height: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 200px;
}

.products-page {
  padding: 50px;
}
.products-page .journals {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products-page .journals .image1 {
  min-height: 300px;
  width: 300px;
  background-image: url(../images/journal1.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products-page .journals .image2 {
  min-height: 300px;
  width: 300px;
  background-image: url(../images/journal2.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products-page .journals .image3 {
  min-height: 300px;
  width: 300px;
  background-image: url(../images/journal3.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-header-text {
  text-align: center;
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
}
.contact-header-text p {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.contact {
  margin: 0 auto;
}
.contact .email {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact .email .text1 {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  text-align: center;
}
.contact .email .text2 {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 100%;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
