/* Error: expected "{".
 *    ,
 * 51 | git config user.name 'Emma'
 *    |                            ^
 *    '
 *   scss\home\contact.scss 51:28  @import
 *   scss\styles.scss 8:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 51 \2502  git config user.name 'Emma'\a    \2502                             ^\a    \2575 \a   scss\\home\\contact.scss 51:28  @import\a   scss\\styles.scss 8:9          root stylesheet";
}
