.about-header-text{
        text-align: center;
        min-height: 200px;
        width: 100%;
        margin: 0 auto;
        // margin-bottom: 50px;
    p{
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    }
  
    .about {
        //   background-color: red;
        padding: 50px;

        
        .products {
          width: 900px;
          // background-color: blue;
          min-height: 50px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
      
          .product {
            display: flex;
            margin-bottom: 50px;
      
            justify-content: space-between;
            .prod-image1 {
              background-image: url(../images/about1.avif);
              height: 500px;
              width: 500px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
                 margin-right: 50px;
              // border-radius: 50%;
              // background-color: aqua;
            }
            .prod-image2 {
              background-image: url(../images/about2.avif);
              height: 500px;
              width: 500px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              // border-radius: 50%;
              // background-color: aqua;
            }
            .prod-desc {
              margin-top: 250px;
              width: 500px;
              text-align: left;
              color: $site-black;
              h4{
                font-size: 30px;
              }
            }
          }
        }
        .about-end{
            margin: 0 auto;
            background-image: url(../images/Papier_CS_Trio_42.webp);
            min-height: 500px;
            width: 500px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }
      }
      






